
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
	background-color:#46247a ;
	margin:0;
}

header {
    margin-left: 300px;
    margin-right: 300px;
    background-color: #5A3198;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    border-bottom: 1px solid #391f5f; 
}



.sidebar {

    position: fixed; 
    left: 0;
    top: 0; 
    width: 300px; 
    height: 100%; 
    background-color:#5A3198 ; 
    overflow-x: hidden; 
    overflow-y: auto; 
box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.content {
    padding-top: 20px ;
    padding-bottom: 20px ;
    margin-left: 300px; 
    margin-right: 300px;
    background-color: #5A3198; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.content form {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
}

.content label {
    text-align: center;
    font-size: 18px; 
    color: white; 
}

.content input[type="text"],
.content textarea {
    width: 80%; 
    margin: 0 auto;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif; 
}

.title{
    color:white;
}

.content textarea {
    height: 100px; 
    resize: vertical; 
}

.content input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #471c88; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
    transition: background-color 0.3s; 
}


.content input[type="submit"]:hover {
    background-color:  #391e61
}

.sidebar {

    position: fixed; 
    left: 0;
    top: 0; 
    width: 300px; 
    height: 100%; 
    background-color:#5A3198 ; 
    overflow-x: hidden; 
    overflow-y: auto; 
	box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.sidebar li {
    text-align: center;
line-height: 100px;
}

.sidebar ul li {
    border-bottom: 1px solid #1a1919; 
    padding: 20px 0; 
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block; 
    color: white; 
    padding: 10px 0; 
    font-size: 18px; 
    text-decoration: none; 
}

.sidebar ul li:hover {
    background-color: #3b1f66;
}
.sidebar img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}

.top {
    margin-top: 10px;
    margin-bottom: 10px ;
    text-align: center; 
}

.logo {
    display: inline-block; 
    width: 40%;
}

img{
    display: inline-block; 
    vertical-align: middle; 
    max-width: 100%; 
    height: auto;
}

/* Style pour le formulaire de recherche */
.recherche_compte {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 50%; 
    max-width: 600px;
}

.recherche_genre {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 50%; 
    max-width: 600px;
}

.recherche_compte input[type="text"] {
    width: 90%;
    border: 1px solid #ccc; 
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 20px; 
    outline: none; /
}

.recherche_genre input[type="text"] {
    width: 90%;
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

.recherche_compte label {
    margin-right: 10px;
    font-size: 16px;
}

.recherche_genre label {
    margin-right: 10px;
    font-size: 16px;
}

.recherche_compte input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0,123,255,.5);
}

.recherche_genre input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0,123,255,.5);
}

.side_gauche {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #5A3198;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.content {
    margin-right: 300px;
}

.side_gauche a {
    text-align: center;
    border-bottom: 5px #391e61;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.side_gauche a:hover {
    background-color: #391e61;
}

.side_gauche a:first-child {
    border-bottom: 2px solid #391e61;
    padding-bottom: 15px;
}

.side_gauche a:not(:first-child) {
    border-top: 1px solid #391e61;
    margin-top: 10px;
    padding-top: 15px;
}

.publications{
    margin-left: 300px;
    margin-right: 300px;
}

.publication {
    background-color: #46247a;
    border: 1px solid #391e61;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.publication:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.publication p {
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.5;
    margin-bottom: 10px;
}

.publication p strong {
    color: white;
}

.publication a, .publication button {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.publication button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease-in-out;
}

.publication button:hover {
    color: #0056b3;
}

.amis {
    text-align: center;
    color: white;
}

.ami {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #391e61;
    padding: 20px;
    margin-bottom: 20px;
}

.ami form {
    margin: 0;
    flex-basis: 48%;
}

.ami button {
    width: 100%;
    background-color: #471c88;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 5px;
    display: inline-block;
}

.ami button:hover {
    background-color: #361b5f;
}

.sidebar img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}

.sidebar p{
    display: block;
    color: white;
    padding: 10px 0;
    font-size: 18px;
}

.footer{
    position: absolute;
    text-align: center;
}