body {
    font-family: Arial, sans-serif;
    background-color: #8c6cbb;
}

.formu {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #6e46ac;
    padding: 5em;
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
}

.formu h1{
    margin-top: 0px;
    color:white;
}

.center-img {
    padding-top: 0;
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
    text-align: center;
}

form {
    margin: 0 auto; 
    width: 100%; 
    align-items: center;
    color:white;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #9d7bd1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #715c92;
}

a{
    background-color: #9d7bd1;
    color: #fff;
    padding: 10px 20px;
    font-size:12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    text-decoration: none;
}

a:hover{
    background-color: #715c92;
}