body{
	background-color:#46247a ;
	margin:0;
}

header {
    margin-left: 300px;
    margin-right: 300px;
    background-color: #5A3198;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Hauteur de votre en-tête */
    border-bottom: 1px solid #391f5f; /* Bordure en bas de l'en-tête avec une couleur contrastante */
}




.sidebar {
    color:white;
    position: fixed; 
    left: 0;
    top: 0; 
    width: 300px; 
    height: 100%; 
    background-color:#5A3198 ; 
    overflow-x: hidden; 
    overflow-y: auto; 
	box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}


.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.sidebar li {
    text-align: center;
line-height: 100px;
}

.sidebar ul li {
    border-bottom: 1px solid #1a1919; 
    padding: 20px 0; 
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block; 
    color: white; 
    padding: 10px 0; 
    font-size: 18px; 
    text-decoration: none; 
}

.sidebar ul li:hover {
    background-color: #3b1f66;
}
.sidebar img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}


.sidebar p{
    color:white;
}

.top {
    margin-top: 10px;
    margin-bottom: 10px ;
    text-align: center; 
}

.logo {
    display: inline-block; 
    width: 40%;
}

img{
    display: inline-block; 
    vertical-align: middle; 
    max-width: 100%; 
    height: auto;
}



.recherche_compte {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 600px;
}

.recherche_compte input[type="text"] {
    width: 90%;
    border: 1px solid #ccc; 
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 20px; 
    outline: none; 
}


.recherche_compte label {
    margin-right: 10px; 
    font-size: 16px; 
}


.recherche_compte input[type="text"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0,123,255,.5); 
}


.side_gauche {
    position: fixed; 
    right: 0; 
    top: 0; 
    width: 300px; 
    height: 100%; 
    background-color: #5A3198; 
    overflow-x: hidden; 
    overflow-y: auto; 
    box-shadow: -2px 0 5px rgba(0,0,0,0.5); 
}


.side_gauche a {
    text-align: center;
    border-bottom: 5px #391e61;
    display: block; 
    color: white; 
    padding: 10px; 
    text-decoration: none; 
}

.side_gauche a:hover {
    background-color: #391e61; 
}


.side_gauche a:first-child {
    border-bottom: 2px solid #391e61; 
    padding-bottom: 15px; 
}


.side_gauche a:not(:first-child) {
    border-top: 1px solid #391e61; 
    margin-top: 10px; 
    padding-top: 15px; 
}

.amis {
    text-align: center;
    color: white;
}


.ami {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    border-bottom: 2px solid #391e61; 
    padding: 20px; 
    margin-bottom: 20px; 
}



.ami form {
    margin: 0; 
    flex-basis: 48%; 
}


.ami button {
    width: 100%;
    background-color: #471c88; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    margin: 5px; 
    display: inline-block; 
}


.ami button:hover {
    background-color: #361b5f; 
}

.messages {
    margin-left: 300px;
    margin-right: 300px;
}

.sidebar img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}
.sidebar li {
    text-align: center;
    line-height: 100px;
}

.envoie_message {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #281544;
    background-color: #391e61;
}

.envoie_message textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.envoie_message input[type="hidden"] {
    display: none;
}

.envoie_message button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    border: none;
    border-radius: 5px;
    background-color: #391e61;
    color: white;
    cursor: pointer;
}

.envoie_message button[type="submit"]:hover {
    background-color: #23133b;
}

.mess{
    max-height: 600px; 
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column-reverse;
}


.sidebar p{
    display: block; 
    color: white; 
    padding: 10px 0; 
    font-size: 18px; 
}

.user1 {
    text-align: left; 
    background-color: #894be6; 
    margin-right: 50%; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.rep{
    text-align: left;
}
.user2 {
    text-align: right; /* Aligner les textes à droite pour user2 */
    background-color: rgb(153, 110, 218); /* Couleur de fond pour user2 */
    margin-left: 50%; /* Espace à gauche pour user2 */
    padding: 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2); /* Ombre pour donner du relief */
}

.user1 p, .user2 p {
    margin: 0; /* Retirer la marge par défaut des paragraphes */
    color: rgb(216, 213, 213);
}

/* Pour les dates de publication */
.user1 p:last-child, .user2 p:last-child {
    font-size: 0.8em; /* Réduire la taille de la police pour les dates */
    color: white; /* Couleur grise pour les dates */
}
