body{
	background-color:#46247a ;
	margin:0;
}

header {
    margin-left: 300px;
    margin-right: 300px;
    background-color: #5A3198;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Hauteur de votre en-tête */
    border-bottom: 1px solid #391f5f; /* Bordure en bas de l'en-tête avec une couleur contrastante */
}




.sidebar {

    position: fixed; 
    left: 0;
    top: 0; 
    width: 300px; 
    height: 100%; 
    background-color:#5A3198 ; 
    overflow-x: hidden; 
    overflow-y: auto; 
	box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.sidebar li {
    text-align: center;
line-height: 100px;
}

.sidebar ul li {
    border-bottom: 1px solid #1a1919; 
    padding: 20px 0; 
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block; 
    color: white; 
    padding: 10px 0; 
    font-size: 18px; 
    text-decoration: none; 
}

.sidebar ul li:hover {
    background-color: #3b1f66;
}
.sidebar img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}

.top {
    margin-top: 10px;
    margin-bottom: 10px ;
    text-align: center; /* Centre le contenu horizontalement */
}

.logo {
    display: inline-block; /* Permet à l'image d'être centrée comme du texte */
    width: 40%;
}

img{
    display: inline-block; /* Permet à l'image d'être centrée comme du texte */
    vertical-align: middle; /* Alignement vertical si nécessaire */
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de la div */
    height: auto;
}


/* Style pour le formulaire de recherche */
.recherche_compte {
    display: flex; /* Utilise Flexbox pour le positionnement du formulaire */
    justify-content: center; /* Centre le formulaire horizontalement */
    align-items: center; /* Centre le formulaire verticalement */
    width: 100%; /* Utilise toute la largeur disponible dans l'en-tête */
    max-width: 600px;
}

/* Style pour le champ de saisie */
.recherche_compte input[type="text"] {
    width: 90%;
    border: 1px solid #ccc; /* Bordure grise pour le champ de saisie */
    padding: 8px 15px; /* Espacement intérieur pour le champ de saisie */
    font-size: 16px; /* Taille de police pour le texte entré */
    border-radius: 20px; /* Bordures arrondies pour le champ de saisie */
    outline: none; /* Supprime le contour lors de la sélection */
}

/* Style pour le label */
.recherche_compte label {
    margin-right: 10px; /* Espacement à droite du label */
    font-size: 16px; /* Taille de police pour le label */
}

/* Style pour le champ de saisie lorsqu'il est actif */
.recherche_compte input[type="text"]:focus {
    border-color: #007bff; /* Couleur de bordure lors de la sélection */
    box-shadow: 0 0 8px rgba(0,123,255,.5); /* Ombre portée pour indiquer le focus */
}

/* ______________________________________________________________________________________________________________________________ */
.side_gauche {
    position: fixed; /* Fixe la sidebar à une position */
    right: 0; /* Alignement à droite */
    top: 0; /* Alignement en haut */
    width: 300px; /* Largeur de la sidebar */
    height: 100%; /* Hauteur de la sidebar */
    background-color: #5A3198; /* Couleur de fond de la sidebar */
    overflow-x: hidden; /* Cache le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    box-shadow: -2px 0 5px rgba(0,0,0,0.5); /* Ombre pour un effet 3D à gauche */
}

/* CSS pour les liens dans la sidebar */
.side_gauche a {
    text-align: center;
    border-bottom: 5px #391e61;
    display: block; /* Rend les liens en blocs */
    color: white; /* Couleur du texte des liens */
    padding: 10px; /* Espacement autour du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
}

.side_gauche a:hover {
    background-color: #391e61; /* Couleur de fond au survol */
}

/* CSS pour le premier lien dans la sidebar, qui est le lien vers les demandes */
.side_gauche a:first-child {
    border-bottom: 2px solid #391e61; /* Ajoute une bordure en bas pour séparer des autres liens */
    padding-bottom: 15px; /* Ajuste l'espacement en bas pour intégrer la bordure */
}

/* CSS pour les autres liens dans la sidebar */
.side_gauche a:not(:first-child) {
    border-top: 1px solid #391e61; /* Ajoute une bordure en haut pour séparer des autres liens */
    margin-top: 10px; /* Espacement en haut pour séparer du lien précédent */
    padding-top: 15px; /* Ajuste l'espacement en haut pour intégrer la bordure */
}

.amis {
    text-align: center;
    color: white;
}

/* Style pour la section 'ami' */
.ami {
    display: flex; /* Utilise Flexbox pour aligner les éléments côte à côte */
    justify-content: space-around; /* Répartit l'espace autour des éléments */
    align-items: center; /* Centre les éléments verticalement */
    border-bottom: 2px solid #391e61; /* Bordure pour délimiter la section */
    padding: 20px; /* Espacement intérieur pour le contenu de la section */
    margin-bottom: 20px; /* Espacement en bas de chaque section */
}


/* Style pour les formulaires dans la section 'ami' */
.ami form {
    margin: 0; /* Aucun espacement entre les formulaires */
    flex-basis: 48%; /* Chaque formulaire prend environ la moitié de l'espace disponible */
}

.ami button {
    width: 100%;
    background-color: #885bcc; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    margin: 5px; 
    display: inline-block; 
}

/* Style pour les boutons au survol dans la section 'ami' */
.ami button:hover {
    background-color: #301a52; /* Couleur de fond plus foncée au survol */
}

/* Style pour le conteneur de chaque demande */
.demande {
    background-color: #502b88; 
    border-bottom: 1px solid #2d184d; 
    padding: 15px; 
    margin-bottom: 15px; 
    margin-left: 300px;
    margin-right: 300px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

/* Style pour les boutons dans chaque demande */
.demande button {
    padding: 10px 20px; 
    margin-left: 10px;
    margin-right: 10px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

/* Style pour le bouton 'Accepter' */
.demande button[name='choix'][value='accepter'] {
    background-color: #28a745; 
    color: white; 
}

/* Style pour le bouton 'Refuser' */
.demande button[name='choix'][value='refuser'] {
    background-color: #dc3545; 
    color: white; 
}

/* Style pour les boutons au survol */
.demande button:hover {
    opacity: 0.8; 
}

.sidebar img{
    border-radius: 50%;
    max-width: 30%;
}

.sidebar p{
    display: block; 
    color: white; 
    padding: 10px 0; 
    font-size: 18px; 
}
